<!DOCTYPE html>
<html>
<head>
    <title>菜单管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/theme.css">

</head>
<body class="ops-page ops-page-wide">
<div id="dtapp" class="ops-page-container" v-cloak>
    <section class="ops-page-intro">
        <div class="ops-page-intro-copy">
            <p class="ops-page-kicker">Menu Operations</p>
            <h1>菜单管理</h1>
            <p class="ops-page-description">统一维护目录、菜单与按钮层级，让菜单页的树选择、路由配置和显示设置与其它管理页保持同样清晰的分区。</p>
        </div>
        <div class="ops-page-intro-meta">
            <article class="ops-page-meta-card">
                <span class="ops-page-meta-label">当前范围</span>
                <span class="ops-page-meta-value">目录、菜单与按钮层级</span>
            </article>
            <article class="ops-page-meta-card">
                <span class="ops-page-meta-label">主流程</span>
                <span class="ops-page-meta-value">查询 / 新增 / 修改 / 删除 / 选树</span>
            </article>
        </div>
    </section>

    <div v-show="showList" class="ops-page-layout">
        <div class="panel panel-default ops-list-panel">
            <div class="panel-heading ops-list-heading">
                <div class="ops-heading-copy">
                    <span class="ops-panel-kicker">菜单层级</span>
                    <span class="ops-list-title">菜单列表</span>
                </div>
                <p class="ops-panel-note">查看目录、菜单与按钮的层级关系，并在列表页快速进入新增、修改和删除操作。</p>
            </div>
            <div class="panel-body">
                <div id="toolbar" class="ops-toolbar">
                    <button v-if="hasPermission('sys:menu:save')" class="btn btn-success" type="button" @click="add">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">新增</span>
                    </button>
                    <button v-if="hasPermission('sys:menu:update')" class="btn btn-success" type="button" @click="update">
                        <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<span class="bold">修改</span>
                    </button>
                    <button v-if="hasPermission('sys:menu:delete')" class="btn btn-danger" type="button" @click="del">
                        <i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">删除</span>
                    </button>
                </div>

                <div class="ops-table-wrap">
                    <table id="table" class="ops-table"></table>
                </div>
            </div>
        </div>
    </div>

    <div v-show="!showList" class="panel panel-default page-form-layout ops-form-panel">
        <div class="panel-heading ops-form-panel-heading">
            <div class="ops-heading-copy">
                <span class="ops-panel-kicker">菜单层级</span>
                <span class="ops-list-title">{{title}}菜单</span>
            </div>
            <p class="ops-panel-note">按菜单类型、层级路由和显示设置分区填写，减少层级字段和展示字段混排带来的理解成本。</p>
        </div>
        <form class="form-horizontal ops-form">
            <input type="hidden" v-model="menu.id"/>
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>菜单类型</h2>
                    <p>先确认当前节点属于目录、菜单还是按钮，后续路由与权限字段会按类型显示。</p>
                </div>
                <div class="form-group">
                    <div id="menu-type-label" class="col-sm-2 control-label">类型</div>
                    <div class="col-sm-10">
                        <div class="ops-inline-options" role="radiogroup" aria-labelledby="menu-type-label">
                            <label><input type="radio" name="type" value="0" v-model="menu.type"/>目录</label>
                            <label><input type="radio" name="type" value="1" v-model="menu.type"/>菜单</label>
                            <label><input type="radio" name="type" value="2" v-model="menu.type"/>按钮</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="menu-name-input">菜单名称</label>
                    <div class="col-sm-10">
                        <input id="menu-name-input" type="text" class="form-control" v-model="menu.name" placeholder="请输入菜单名称或按钮名称"/>
                    </div>
                </div>
            </section>
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>层级与路由</h2>
                    <p>用于选择当前节点的上级菜单，并维护菜单 URL 或按钮权限标识。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="menu-parent-input">上级菜单</label>
                    <div class="col-sm-10">
                        <input id="menu-parent-input" type="text" class="form-control pointer" v-model="menu.parentName"
                               @click="menuTree" readonly="readonly" placeholder="请选择上级菜单"/>
                        <p class="ops-form-help">点击输入框打开树形菜单选择上级节点，根节点表示一级菜单。</p>
                    </div>
                </div>
                <div v-if="menu.type == 1" class="form-group">
                    <label class="col-sm-2 control-label" for="menu-url-input">菜单 URL</label>
                    <div class="col-sm-10">
                        <input id="menu-url-input" type="text" class="form-control" v-model="menu.url" placeholder="请输入菜单 URL"/>
                    </div>
                </div>
                <div v-if="menu.type == 1 || menu.type == 2" class="form-group">
                    <label class="col-sm-2 control-label" for="menu-perms-input">授权标识</label>
                    <div class="col-sm-10">
                        <input id="menu-perms-input" type="text" class="form-control" v-model="menu.perms"
                               placeholder="多个用逗号分隔，如：user:list,user:create"/>
                    </div>
                </div>
            </section>
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>显示设置</h2>
                    <p>排序号控制展示顺序，图标用于目录和菜单节点的导航呈现。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="menu-order-input">排序号</label>
                    <div class="col-sm-10">
                        <input id="menu-order-input" type="number" class="form-control" v-model="menu.orderNum" placeholder="请输入排序号"/>
                    </div>
                </div>
                <div v-if="menu.type != 2" class="form-group">
                    <label class="col-sm-2 control-label" for="menu-icon-input">图标</label>
                    <div class="col-sm-10">
                        <input id="menu-icon-input" type="text" class="form-control" v-model="menu.icon" placeholder="请输入菜单图标"/>
                        <p class="ops-form-help">图标可参考 Font Awesome 图标库，例如 `fa fa-home`。</p>
                    </div>
                </div>
            </section>
            <div class="form-group ops-form-actions">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" @click="saveOrUpdate">确定</button>
                    <button type="button" class="btn btn-default ml-10" @click="reload">返回</button>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- 选择菜单 -->
<div id="menuLayer" class="ops-tree-layer">
    <div class="ops-tree-shell">
        <div class="ops-tree-head">
            <h2>上级菜单选择</h2>
            <p class="ops-tree-note">请选择当前菜单的上级节点，树中根节点表示一级菜单。</p>
        </div>
        <div class="ops-tree-scroll">
            <ul id="menuTree" class="ztree"></ul>
        </div>
    </div>
</div>

<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../public/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/sys/menu.js"></script>
</body>
</html>
