<!DOCTYPE html>
<html>
<head>
    <title>用户管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/theme.css">

</head>
<body class="ops-page">
<div id="dtapp" class="ops-page-container" v-cloak>

    <div v-show="showList" class="ops-page-layout">
        <div class="panel panel-default ops-list-panel">
            <div class="panel-heading ops-list-heading">
                <span class="ops-list-title">用户列表</span>
            </div>
            <div class="panel-body">
                <div id="toolbar" class="ops-toolbar">
                    <button v-if="hasPermission('sys:user:save')" class="btn btn-success" type="button" @click="add">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">新增</span>
                    </button>
                    <button v-if="hasPermission('sys:user:update')" class="btn btn-success" type="button" @click="update">
                        <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<span class="bold">修改</span>
                    </button>
                    <button v-if="hasPermission('sys:user:delete')" class="btn btn-danger" type="button" @click="del">
                        <i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">删除</span>
                    </button>
                </div>
                <!--展示菜单列表--->
                <table id="table" class="ops-table"></table>
            </div>
        </div>
    </div>

    <!-- -->
    <div v-show="!showList" class="panel panel-default page-form-layout ops-form-panel">
        <div class="panel-heading">{{title}}</div>
        <form class="form-horizontal ops-form">

            <div class="form-group">
                <label class="col-sm-2 control-label" for="user-usercode">用户名</label>
                <div class="col-sm-10">
                    <input id="user-usercode" type="text" class="form-control" :class="{'is-invalid': formErrors.usercode}" :aria-describedby="formErrors.usercode ? 'user-usercode-error' : null" v-model="user.usercode" placeholder="用户名"/>
                    <p id="user-usercode-error" class="ops-field-error" v-if="formErrors.usercode">{{formErrors.usercode}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="user-password">密码</label>
                <div class="col-sm-10">
                    <input id="user-password" type="password" class="form-control" :class="{'is-invalid': formErrors.password}" :aria-describedby="formErrors.password ? 'user-password-error' : null" v-model="user.password" placeholder="密码"/>
                    <p id="user-password-error" class="ops-field-error" v-if="formErrors.password">{{formErrors.password}}</p>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2 control-label" for="user-email">邮箱</label>
                <div class="col-sm-10">
                    <input id="user-email" type="text" class="form-control" :class="{'is-invalid': formErrors.email}" :aria-describedby="formErrors.email ? 'user-email-error' : null" v-model="user.email" placeholder="邮箱"/>
                    <p id="user-email-error" class="ops-field-error" v-if="formErrors.email">{{formErrors.email}}</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="user-real-name">真实姓名</label>
                <div class="col-sm-10">
                    <input id="user-real-name" type="text" class="form-control" :class="{'is-invalid': formErrors.realName}" :aria-describedby="formErrors.realName ? 'user-real-name-error' : null" v-model="user.realName" placeholder="真实姓名"/>
                    <p id="user-real-name-error" class="ops-field-error" v-if="formErrors.realName">{{formErrors.realName}}</p>
                </div>
            </div>
            <div class="form-group">
                <div id="user-type-label" class="col-sm-2 control-label">类型</div>
                <div class="col-sm-10">
                    <div class="ops-inline-options" role="radiogroup" aria-labelledby="user-type-label">
                        <input id="user-type-admin" type="radio" value="1" v-model="user.type">
                        <label for="user-type-admin">管理员</label>
                        <input id="user-type-normal" type="radio" value="2" v-model="user.type">
                        <label for="user-type-normal">普通用户</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div id="user-status-label" class="col-sm-2 control-label">状态</div>
                <div class="col-sm-10">
                    <div class="ops-inline-options" role="radiogroup" aria-labelledby="user-status-label">
                        <input id="user-status-invalid" type="radio" value="0" v-model="user.status">
                        <label for="user-status-invalid">无效</label>
                        <input id="user-status-valid" type="radio" value="1" v-model="user.status">
                        <label for="user-status-valid">有效</label>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="user-clientid">所属客户</label>
                <div class="col-sm-10">
                    <select id="user-clientid" class="form-control" :class="{'is-invalid': formErrors.clientid}" :aria-describedby="formErrors.clientid ? 'user-clientid-error' : null" v-model="user.clientid" name="sites">
                        <option value="">请选择所属客户</option>
                        <option v-for="item in sites" :value="item.id">{{ item.corpname }}</option>
                    </select>
                    <p id="user-clientid-error" class="ops-field-error" v-if="formErrors.clientid">{{formErrors.clientid}}</p>
                </div>
            </div>
            <div class="form-group ops-form-actions">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" :class="{'is-loading': saving}" :disabled="saving" @click="saveOrUpdate">
                        <span class="btn-text">{{saving ? "提交中" : "确定"}}</span>
                    </button>
                    <button type="button" class="btn btn-default ml-10" :disabled="saving" @click="reload">返回</button>
                </div>
            </div>
        </form>
    </div>

</div>


<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../public/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/sys/user.js"></script>
</body>
</html>
