<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cz.webmaster.mapper.MobileBlackMapper">

    <resultMap id="BaseResultMap" type="com.cz.webmaster.entity.MobileBlack">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="blackNumber" jdbcType="VARCHAR" property="blackNumber"/>
        <result column="blackType" jdbcType="INTEGER" property="blackType"/>
        <result column="clientId" jdbcType="INTEGER" property="clientId"/>
        <result column="created" jdbcType="TIMESTAMP" property="created"/>
        <result column="createId" jdbcType="BIGINT" property="createId"/>
        <result column="updated" jdbcType="TIMESTAMP" property="updated"/>
        <result column="updateId" jdbcType="BIGINT" property="updateId"/>
        <result column="isDelete" jdbcType="TINYINT" property="isDelete"/>
        <result column="extend1" jdbcType="VARCHAR" property="extend1"/>
        <result column="extend2" jdbcType="VARCHAR" property="extend2"/>
        <result column="extend3" jdbcType="VARCHAR" property="extend3"/>
        <result column="extend4" jdbcType="VARCHAR" property="extend4"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,
        black_number as blackNumber,
        black_type as blackType,
        client_id as clientId,
        created,
        create_id as createId,
        updated,
        update_id as updateId,
        is_delete as isDelete,
        extend1,
        extend2,
        extend3,
        extend4
    </sql>

    <select id="findAllActive" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from mobile_black
        where is_delete = 0
        order by id asc
    </select>

</mapper>
