<!DOCTYPE html>
<html>
<head>
    <title>号段管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/theme.css">
</head>
<body class="ops-page ops-page-wide">
<div id="dtapp" class="ops-page-container" v-cloak>

    <div v-show="showList" class="ops-page-layout">
        <div class="panel panel-default ops-list-panel">
            <div class="panel-heading ops-list-heading">
                <div class="ops-heading-copy">
                    <span class="ops-panel-kicker">号段资料</span>
                    <span class="ops-list-title">号段列表</span>
                </div>
                <p class="ops-panel-note">查看号段与省市对应关系，便于后续路由、地域识别和规则核对。</p>
            </div>
            <div class="panel-body">
                <div id="toolbar" class="ops-toolbar">
                    <button class="btn btn-success" type="button" @click="add">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">新增</span>
                    </button>
                    <button class="btn btn-success" type="button" @click="update">
                        <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<span class="bold">修改</span>
                    </button>
                    <button class="btn btn-danger" type="button" @click="del">
                        <i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">删除</span>
                    </button>
                </div>

                <div class="ops-table-wrap">
                    <table id="table" class="ops-table"></table>
                </div>
            </div>
        </div>
    </div>

    <div v-show="!showList" class="panel panel-default page-form-layout ops-form-panel">
        <div class="panel-heading ops-form-panel-heading">
            <div class="ops-heading-copy">
                <span class="ops-panel-kicker">号段资料</span>
                <span class="ops-list-title">{{title}}号段</span>
            </div>
            <p class="ops-panel-note">将号段信息和地域映射分区填写，减少省市级联与基础字段混排带来的认知跳跃。</p>
        </div>
        <form class="form-horizontal ops-form">
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>号段信息</h2>
                    <p>用于维护号码前缀基础资料，建议录入标准号段值，方便后续检索与比对。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="phase-input">号段</label>
                    <div class="col-sm-10">
                        <input id="phase-input" type="text" class="form-control" v-model="phase.phase" placeholder="请输入号段"/>
                    </div>
                </div>
            </section>
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>地域映射</h2>
                    <p>先选省份再选择城市，确保号段与地区映射关系完整可追踪。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="phase-prov-select">省标识</label>
                    <div class="col-sm-10">
                        <select class="form-control" @change="getCitys($event)" v-model="phase.provId" name="sites" id="phase-prov-select">
                            <option value="">请选择省份</option>
                            <option v-for="item in sites" :value="item.id">{{ item.areaname }}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="phase-city-select">城市标识</label>
                    <div class="col-sm-10">
                        <select class="form-control" v-model="phase.cityId" name="citys" id="phase-city-select">
                            <option value="">请选择城市</option>
                            <option v-for="item in citys" :value="item.id">{{ item.areaname }}</option>
                        </select>
                        <p class="ops-form-help">城市列表会根据当前省份动态加载，保存前建议再次核对省市组合。</p>
                    </div>
                </div>
            </section>
            <div class="form-group ops-form-actions">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" @click="saveOrUpdate">确定</button>
                    <button type="button" class="btn btn-default ml-10" @click="reload">返回</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.js"></script>
<script src="../public/libs/myindex.js"></script>
<script src="../public/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../public/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/plugins/ueditor/ueditor.config.js"></script>
<script src="../public/plugins/ueditor/ueditor.all.js"></script>
<script src="../public/plugins/ueditor/ueditor.parse.min.js"></script>
<script src="../public/plugins/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/phase/phase.js"></script>

</body>
</html>
