<!DOCTYPE html>
<html>
<head>
    <title>客户管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/theme.css">
</head>
<body class="ops-page ops-page-wide">
<div id="dtapp" class="ops-page-container" v-cloak>
    <section class="ops-page-intro">
        <div class="ops-page-intro-copy">
            <p class="ops-page-kicker">Client Operations</p>
            <h1>客户管理</h1>
            <p class="ops-page-description">维护客户主体、联络方式与跟进责任人，让后续接入、发送、充值等流程都有清晰归属。</p>
        </div>
        <div class="ops-page-intro-meta">
            <article class="ops-page-meta-card">
                <span class="ops-page-meta-label">当前范围</span>
                <span class="ops-page-meta-value">客户主数据</span>
            </article>
            <article class="ops-page-meta-card">
                <span class="ops-page-meta-label">主流程</span>
                <span class="ops-page-meta-value">查询 / 新增 / 修改 / 删除 / 返回</span>
            </article>
        </div>
    </section>

    <div v-show="showList" class="ops-page-layout">
        <div class="panel panel-default ops-list-panel">
            <div class="panel-heading ops-list-heading">
                <div class="ops-heading-copy">
                    <span class="ops-panel-kicker">客户档案</span>
                    <span class="ops-list-title">客户列表</span>
                </div>
                <p class="ops-panel-note">集中维护客户主体、联系人和运营归属，便于后续接入与业务授权。</p>
            </div>
            <div class="panel-body">
                <div id="toolbar" class="ops-toolbar">
                    <button class="btn btn-success" type="button" @click="add">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">新增</span>
                    </button>
                    <button class="btn btn-success" type="button" @click="update">
                        <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<span class="bold">修改</span>
                    </button>
                    <button class="btn btn-danger" type="button" @click="del">
                        <i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">删除</span>
                    </button>
                </div>
                <div class="ops-table-wrap">
                    <table id="table" class="ops-table"></table>
                </div>
            </div>
        </div>
    </div>

    <div v-show="!showList" class="panel panel-default page-form-layout ops-form-panel">
        <div class="panel-heading ops-form-panel-heading">
            <div class="ops-heading-copy">
                <span class="ops-panel-kicker">客户档案</span>
                <span class="ops-list-title">{{title}}客户</span>
            </div>
            <p class="ops-panel-note">先维护主体信息，再补齐联络方式，保存后可立即返回列表继续处理。</p>
        </div>
        <form class="form-horizontal ops-form">
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>主体信息</h2>
                    <p>用于确认客户档案、归属关系和后续对账主体。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="client-corpname">公司名称</label>
                    <div class="col-sm-10">
                        <input id="client-corpname" type="text" class="form-control" :class="{'is-invalid': formErrors.corpname}" :aria-describedby="formErrors.corpname ? 'client-corpname-error' : null" v-model="client.corpname" placeholder="请输入公司名称"/>
                        <p id="client-corpname-error" class="ops-field-error" v-if="formErrors.corpname">{{formErrors.corpname}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="client-address">公司地址</label>
                    <div class="col-sm-10">
                        <input id="client-address" type="text" class="form-control" v-model="client.address" placeholder="请输入公司地址"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="client-manager">客户经理</label>
                    <div class="col-sm-10">
                        <input id="client-manager" type="text" class="form-control" v-model="client.customermanager" placeholder="请输入客户经理"/>
                        <p class="ops-form-help">用于标记内部跟进责任人，方便后续业务协同。</p>
                    </div>
                </div>
            </section>
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>联络信息</h2>
                    <p>补齐联系人、手机号和邮箱，保证接入与通知链路可达。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="client-linkman">联系人</label>
                    <div class="col-sm-10">
                        <input id="client-linkman" type="text" class="form-control" :class="{'is-invalid': formErrors.linkman}" :aria-describedby="formErrors.linkman ? 'client-linkman-error' : null" v-model="client.linkman" placeholder="请输入联系人"/>
                        <p id="client-linkman-error" class="ops-field-error" v-if="formErrors.linkman">{{formErrors.linkman}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="client-mobile">手机号</label>
                    <div class="col-sm-10">
                        <input id="client-mobile" type="text" class="form-control" :class="{'is-invalid': formErrors.mobile}" :aria-describedby="formErrors.mobile ? 'client-mobile-error' : null" v-model="client.mobile" placeholder="请输入手机号"/>
                        <p id="client-mobile-error" class="ops-field-error" v-if="formErrors.mobile">{{formErrors.mobile}}</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="client-email">邮箱</label>
                    <div class="col-sm-10">
                        <input id="client-email" type="text" class="form-control" :class="{'is-invalid': formErrors.email}" :aria-describedby="formErrors.email ? 'client-email-error' : null" v-model="client.email" placeholder="name@example.com"/>
                        <p id="client-email-error" class="ops-field-error" v-if="formErrors.email">{{formErrors.email}}</p>
                    </div>
                </div>
            </section>
            <div class="form-group ops-form-actions">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" :class="{'is-loading': saving}" :disabled="saving" @click="saveOrUpdate">
                        <span class="btn-text">{{saving ? "提交中" : "确定"}}</span>
                    </button>
                    <button type="button" class="btn btn-default ml-10" :disabled="saving" @click="reload">返回</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../public/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/client/client.js"></script>
</body>
</html>
