<!DOCTYPE html>
<html>
<head>
    <title>客户充值</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/theme.css">
</head>
<body class="ops-page">
<div id="dtapp" class="ops-page-container" v-cloak>

    <div class="panel panel-default page-form-layout ops-form-panel">
        <div class="panel-heading ops-form-panel-heading">
            <div class="ops-heading-copy">
                <span class="ops-panel-kicker">余额管理</span>
                <span class="ops-list-title">客户充值</span>
            </div>
            <p class="ops-panel-note">为指定客户充值余额，充值成功后余额实时生效。</p>
        </div>
        <form class="form-horizontal ops-form">
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>充值信息</h2>
                    <p>确认充值对象和金额后提交，余额将即时到账。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="pay-clientid">客户 ID</label>
                    <div class="col-sm-10">
                        <div class="input-group">
                            <input id="pay-clientid" type="text" class="form-control" :class="{'is-invalid': clientIdError}" v-model="clientId" placeholder="请输入客户业务 ID" @keyup.enter="lookupClient"/>
                            <span class="input-group-btn">
                                <button type="button" class="btn btn-primary" :disabled="looking" @click="lookupClient">
                                    <i class="fa" :class="looking ? 'fa-spinner fa-spin' : 'fa-search'"></i>&nbsp;查询
                                </button>
                            </span>
                        </div>
                        <p class="ops-field-error" v-if="clientIdError">{{clientIdError}}</p>
                        <p class="ops-form-help">输入客户业务 ID 后点击查询，系统将校验客户是否存在。</p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">客户名称</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" v-model="corpname" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">当前余额</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" :value="currentMoneyDisplay" readonly/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="pay-amount">充值金额(厘)</label>
                    <div class="col-sm-10">
                        <input id="pay-amount" type="number" class="form-control" :class="{'is-invalid': amountError}" v-model="amount" placeholder="请输入充值金额，单位为厘" min="1"/>
                        <p class="ops-field-error" v-if="amountError">{{amountError}}</p>
                        <p class="ops-form-help">1元 = 1000厘，请输入正整数。</p>
                    </div>
                </div>
            </section>
            <div class="form-group ops-form-actions">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" :class="{'is-loading': submitting}" :disabled="submitting" @click="submitPay">
                        <span class="btn-text">{{submitting ? "提交中" : "确认充值"}}</span>
                    </button>
                    <button type="button" class="btn btn-default ml-10" :disabled="submitting" @click="goBack">返回</button>
                </div>
            </div>
        </form>
    </div>

</div>

<script src="../public/libs/jquery.min.js"></script>
<script src="../public/js/common/auth.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/client/userpay.js"></script>
</body>
</html>