<!DOCTYPE html>
<html>
<head>
    <title>短信通道管理</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../public/css/bootstrap.min.css">
    <link rel="stylesheet" href="../public/css/font-awesome.min.css">
    <link rel="stylesheet" href="../public/plugins/bootstrap-table/bootstrap-table.min.css">
    <link rel="stylesheet" href="../public/plugins/ztree/css/metroStyle/metroStyle.css">
    <link rel="stylesheet" href="../public/css/main.css">
    <link rel="stylesheet" href="../public/css/theme.css">

</head>
<body class="ops-page ops-page-wide">
<div id="dtapp" class="ops-page-container" v-cloak>

    <div v-show="showList" class="ops-page-layout">
        <div class="panel panel-default ops-list-panel">
            <div class="panel-heading ops-list-heading">
                <div class="ops-heading-copy">
                    <span class="ops-panel-kicker">通道资料</span>
                    <span class="ops-list-title">通道列表</span>
                </div>
                <p class="ops-panel-note">在同一张表里查看成本、地区、协议与启用状态，便于快速筛选可用通道。</p>
            </div>
            <div class="panel-body">
                <div id="toolbar" class="ops-toolbar">
                    <button v-if="hasPermission('sys:menu:save')" class="btn btn-success" type="button" @click="add">
                        <i class="fa fa-plus"></i>&nbsp;&nbsp;<span class="bold">新增</span>
                    </button>
                    <button v-if="hasPermission('sys:menu:update')" class="btn btn-success" type="button" @click="update">
                        <i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;<span class="bold">修改</span>
                    </button>
                    <button v-if="hasPermission('sys:menu:delete')" class="btn btn-danger" type="button" @click="del">
                        <i class="fa fa-remove"></i>&nbsp;&nbsp;<span class="bold">删除</span>
                    </button>
                </div>

                <div class="ops-table-wrap">
                    <table id="table" class="ops-table"></table>
                </div>
            </div>
        </div>
    </div>

    <div v-show="!showList" class="panel panel-default page-form-layout ops-form-panel">
        <div class="panel-heading ops-form-panel-heading">
            <div class="ops-heading-copy">
                <span class="ops-panel-kicker">通道资料</span>
                <span class="ops-list-title">{{title}}通道</span>
            </div>
            <p class="ops-panel-note">按基础信息、连接配置、协议状态三个分区维护，减少长表单的理解成本。</p>
        </div>
        <form class="form-horizontal ops-form">
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>通道基础</h2>
                    <p>先确认通道名称、地区范围和成本口径，方便列表侧快速筛选。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-name">通道名称</label>
                    <div class="col-sm-10">
                        <input id="channel-name" type="text" class="form-control" v-model="channel.channelname" placeholder="请输入通道名称"/>
                    </div>
                </div>
                <div class="form-group">
                    <div id="channel-type-label" class="col-sm-2 control-label">通道类型</div>
                    <div class="col-sm-10">
                        <div class="ops-inline-options" role="radiogroup" aria-labelledby="channel-type-label">
                            <label><input type="radio" value="0" v-model="channel.channeltype">全网</label>
                            <label><input type="radio" value="1" v-model="channel.channeltype">移动</label>
                            <label><input type="radio" value="2" v-model="channel.channeltype">联通</label>
                            <label><input type="radio" value="3" v-model="channel.channeltype">电信</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-area">通道地区</label>
                    <div class="col-sm-10">
                        <input id="channel-area" type="text" class="form-control" v-model="channel.channelarea" placeholder="如：北京 北京"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-area-code">地区号段</label>
                    <div class="col-sm-10">
                        <input id="channel-area-code" type="text" class="form-control" v-model="channel.channelareacode" placeholder="如：010"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-price">通道成本(厘/条)</label>
                    <div class="col-sm-10">
                        <input id="channel-price" type="number" class="form-control" v-model="channel.channelprice" placeholder="如：10"/>
                    </div>
                </div>
            </section>
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>连接配置</h2>
                    <p>统一维护接入号、地址、端口及账号密码，便于后续联调与排障。</p>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-spnumber">账户接入号</label>
                    <div class="col-sm-10">
                        <input id="channel-spnumber" type="text" class="form-control" v-model="channel.spnumber" placeholder="请输入账户接入号"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-ip">通道 IP</label>
                    <div class="col-sm-10">
                        <input id="channel-ip" type="text" class="form-control" v-model="channel.channelip" placeholder="如：120.16.11.228"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-port">通道端口</label>
                    <div class="col-sm-10">
                        <input id="channel-port" type="number" class="form-control" v-model="channel.channelport" placeholder="如：8150"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-username">通道账号</label>
                    <div class="col-sm-10">
                        <input id="channel-username" type="text" class="form-control" v-model="channel.channelusername" placeholder="请输入通道账号"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label" for="channel-password">通道密码</label>
                    <div class="col-sm-10">
                        <input id="channel-password" type="password" class="form-control" v-model="channel.channelpassword" placeholder="请输入通道密码"/>
                    </div>
                </div>
            </section>
            <section class="ops-form-section">
                <div class="ops-form-section-head">
                    <h2>协议与状态</h2>
                    <p>配置协议类型与启用状态，让上线准备和回滚动作更清晰。</p>
                </div>
                <div class="form-group">
                    <div id="channel-protocol-label" class="col-sm-2 control-label">协议类型</div>
                    <div class="col-sm-10">
                        <div class="ops-inline-options" role="radiogroup" aria-labelledby="channel-protocol-label">
                            <label><input type="radio" value="1" v-model="channel.protocaltype">cmpp</label>
                            <label><input type="radio" value="2" v-model="channel.protocaltype">sgip</label>
                            <label><input type="radio" value="3" v-model="channel.protocaltype">smgp</label>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div id="channel-status-label" class="col-sm-2 control-label">启用状态</div>
                    <div class="col-sm-10">
                        <div class="ops-inline-options" role="radiogroup" aria-labelledby="channel-status-label">
                            <label><input type="radio" value="0" v-model="channel.isavailable">停用</label>
                            <label><input type="radio" value="1" v-model="channel.isavailable">启用</label>
                        </div>
                    </div>
                </div>
            </section>
            <div class="form-group ops-form-actions">
                <div class="col-sm-2 control-label"></div>
                <div class="col-sm-10">
                    <button type="button" class="btn btn-primary" @click="saveOrUpdate">确定</button>
                    <button type="button" class="btn btn-default ml-10" @click="reload">返回</button>
                </div>
            </div>
        </form>
    </div>

</div>

<!-- 选择菜单 -->
<div id="menuLayer" style="display: none;padding:10px;">
    <ul id="menuTree" class="ztree"></ul>
</div>

<script src="../public/libs/jquery.min.js"></script>
<script src="../public/plugins/layer/layer.js"></script>
<script src="../public/libs/bootstrap.min.js"></script>
<script src="../public/libs/vue.min.js"></script>
<script src="../public/plugins/bootstrap-table/bootstrap-table.min.js"></script>
<script src="../public/plugins/bootstrap-table/locale/bootstrap-table-zh-CN.min.js"></script>
<script src="../public/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../public/js/common.js"></script>
<script src="../public/js/channel/channel.js"></script>
</body>
</html>
